@page "/report"
<h3>Reports</h3>
<br />
<a class="btn btn-success" href="https://localhost:5001/api/Report/GetReport?reportType=1" target="_blank">PDF</a>
<a class="btn btn-success" href="https://localhost:5001/api/Report/GetReport?reportType=2" target="_blank">Excel</a>

@code {

}
