@page "/item/createitem"
@attribute [Authorize]
@inject Inventory.Client.Shared.IAlertService AlertService
@inject Inventory.Client.Services.IItemService itemService
@inject NavigationManager navManager
@inject Inventory.Client.Shared.PageHistoryState PageHistoryState

<h1>Create Item</h1>
<br />
<Form ButtonText="Create Person" item="@item" loading="@loading"
      OnValidSubmit="@CreateItem" />
@code {
    bool loading = false;
    Item item = new Item
        {
            Name = ""
        };
    async Task CreateItem(){
        loading = true;
        try
        {
            await itemService.AddItem(item);
            AlertService.Success("Item save successfully", keepAfterRouteChange: true);
            if (PageHistoryState.CanGoBack())
                navManager.NavigateTo(PageHistoryState.GetGoBackPage());
            else
                navManager.NavigateTo("/item/1");
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
            loading = false;
            StateHasChanged();
        }
    }
  
}
