@page "/item/{Page}"
@inject Services.IItemService itemService
@inject Services.IUserService UserService
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@inject Shared.PageHistoryState PageHistoryState

<h1>Item</h1>
<br />

<div class="row mb-3">
    <div class="col-md-7">
        @if (LoggedIn)
        {
            <NavLink href="/item/createitem" class="btn btn-sm btn-success mb-2">Add Item</NavLink>
        }
    </div>
    <div class="input-group col-md-5 text-md-right">
        <input name="ItemSearchInput" type="text" class="form-control" placeholder="Item Name" @bind="this.SearchTerm" @onkeyup="SearchBoxKeyPress" />
        <div class="input-group-btn">
            <button name="ItemSearchButton" class="btn btn-default" @onclick="SearchClick">
                <i class="oi oi-magnifying-glass" title="search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="input-group-btn">
            <button name="ItemSearchClear" class="btn btn-default" @onclick="ClearSearch">
                <i class="oi oi-x" title="clear" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
@if (items == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width:25%">Item Name</th>
                <th style="width:5%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in items.Results)
            {
                <tr>
                    <td>@item.Name</td>
                     <td style="white-space: nowrap">
                        <NavLink href="@($"/item/view/{item.ItemId}")" class="oi oi-eye text-primary mr-3 nounderline"></NavLink>
                        @if (LoggedIn)
                        {
                            <NavLink href="@($"/item/update/{item.ItemId}")" class="oi oi-pencil text-warning mr-2 nounderline"></NavLink>
                        }
                    </td>

                </tr>

            }
        </tbody>
    </table>
    <Pager Result=@items PageChanged=PagerPageChanged />
}



@code {
    [Parameter]
    public string Page { get; set; }
    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;
    protected PagedResultT<Item> items;
    public bool LoggedIn
    {
        get { return UserService.User != null; }
    }
    protected override void OnInitialized()
    {
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
        base.OnInitialized();
    }
    protected override async Task OnParametersSetAsync()
    {
        items = await itemService.GetItems(null, Page);
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
    }
    protected async Task SearchBoxKeyPress(KeyboardEventArgs ev)
    {
        if (ev.Key == "Enter")
        {
            await SearchClick();
        }
    }

    protected async Task SearchClick()
    {
        if (string.IsNullOrEmpty(SearchTerm))
        {
            items = await itemService.GetItems(null, Page);
            return;
        }
        items = await itemService.GetItems(SearchTerm, Page);
        StateHasChanged();
    }

    protected async Task ClearSearch()
    {
        SearchTerm = string.Empty;
        items = await itemService.GetItems(SearchTerm, Page);
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
        StateHasChanged();
    }

    protected void PagerPageChanged(int page)
    {
        UriHelper.NavigateTo("/item/" + page);
        PageHistoryState.AddPageToHistory(UriHelper.Uri);
    }

    private async void Delete(Item _item)
    {

        await itemService.DeleteItem(_item.ItemId);
        items = await itemService.GetItems(null, Page);
        StateHasChanged();
    }
}
