@page "/item/view/{id}"
@inject Services.IItemService itemService
@inject NavigationManager navManager
@inject Shared.PageHistoryState PageHistoryState
<h3>Item</h3>
<br />
<table class="table col-md-6">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>@item.Name</td>
        </tr>
    </tbody>
</table>
<div class="form-group">
    @if (PageHistoryState.CanGoBack())
    {
        <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
    }
    else
    {
        <NavLink href="/item/1" class="btn btn-link">Back</NavLink>
    }
</div>
@code {
    [Parameter]
    public string Id { get; set; }
    Item item = new Item
        {
            Name = ""
        };
    protected async override Task OnParametersSetAsync()
    {
        item = await itemService.GetItem(int.Parse(Id));
    }
}
